# Default ignored files
/../../../../../../../../FORMAT~1/RESSOU~1/Projets/OPENCL~1/OPENCL~1/PROJET~1/MAGICG~1/.idea/shelf/
/../../../../../../../../FORMAT~1/RESSOU~1/Projets/OPENCL~1/OPENCL~1/PROJET~1/MAGICG~1/.idea/workspace.xml
